/* 컬러칩 세팅 */
$background: #FFF7F0;
$main-color: #755CDE;
$sub-color: #F6A560;
$pink: #F39E9E;
$coral: #EB7565;
$mint: #61C4B7;
$burgundy: #552049;
$black: #030303;
$gray: #7A746E;
$white: #fff;

/* 폰트 세팅 */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

// 기준 폰트사이즈 
$base-font-size: 16px;

// rem 사이즈 구하는 함수
@function rem($pixSize, $context: $base-font-size) {
    @return $pixSize / $context * 1rem;
}

@mixin heading-L($getSize: 56px, $line-height: 70px, $color: $black) {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: rem($getSize);
    font-weight: 700;
    line-height: ($line-height / $getSize); // line-height 상대값 구하기
    color: $color;
}

@mixin heading-M($getSize: 40px, $line-height: 51px, $color: $black) {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: rem($getSize);
    font-weight: 700;
    line-height: ($line-height / $getSize);
    color: $color;
}

@mixin heading-S($getSize: 32px, $line-height: 40px, $color: $black) {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: rem($getSize);
    line-height: ($line-height / $getSize);
    font-weight: 700;
    color: $color ;
}

@mixin medium($getSize: 18px, $line-height: 28px, $color: $gray) {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: rem($getSize);
    font-weight: 500;
    line-height: ($line-height / $getSize);
    color: $color;
}

/* flex */
@mixin flexBox($jc: center, $ai: center, $fd: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

/* border-radius */
@mixin bdra($val:8px) {
    border-radius: $val;
}

/* 버튼 기본값 세팅 */
@mixin btn($bg: $black) {
    // padding: 14px 45px;
    width: 228px;
    height: 56px;
    border: none;
    border-radius: 28px;
    @include heading-S($getSize: 16px, $line-height:28px);
    background-color: $bg;
    color: $white;
    &:hover {
        cursor: pointer;
    }
}
@mixin arrow-btn($bg) {
    border: none;
    border-radius: 50%;
    background: $bg;
    color: $white;
}

/* 기본 가로 크기 */
.inner {
    width: 1110px;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
}