@import "reset.scss";
@import "common.scss";

html {
    font-size: $base-font-size;
}

button {
    @include btn;
}

.wrap {
    background-color: $background;
    padding: 34px 0;
}

.header {
    @include flexBox($jc:space-between);
    margin-bottom: rem(66px);
}

/* 최상단 메인 */
.main {
    text-align: center;
    .text-wrap {
        margin-bottom: rem(80px);
        h2 {
            @include heading-L;
            margin-bottom: 23px;
        }
        p {
            @include medium;
        }
    }
    .patterns-wrap {
        @include flexBox($jc:space-between);
        height: 19vw;
        gap: 24px;
        & > div {
            flex: 1;
            height: 100%;
        }
        .pattern--left {
            background: $main-color;
            border-radius: 8px;
        }
        .pattern--center {
            .top {
                @include flexBox($jc:space-between);
            }
        }
    }
}

/* 슬라이드영역 */
.slide {
    .swiper-slide {
        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}